@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Black.ttf);
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: zain;
  src: url(./assets/Zain/Zain-ExtraLight.ttf);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: zain;
  src: url(./assets/Zain/Zain-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: zain;
  src: url(./assets/Zain/Zain-Bold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: syne;
  src: url(./assets/Syne-VariableFont_wght.ttf);
  font-display: swap;
}

@import 'tailwindcss';

@theme{
  --font-poppins: poppins, 'Trebuchet MS', sans-serif;
  --font-zain: zain, poppins, 'Trebuchet MS', sans-serif;
  --font-syne: syne, zain, poppins, sans-serif;
}

html{
  @apply bg-neutral-950 text-neutral-200 m-0 font-zain;
}

input[type=text], input[type=email], input[type=password]{
  @apply border border-neutral-600 px-3 py-1.5 rounded-sm focus:outline-neutral-400 focus:outline-1 focus:ring-0
}

.animate-err{
  animation: err-animation .3s ease-in !important;
}
@keyframes err-animation {
  from{
    transform: scaleX(0%)
  }
  to{
    transform: scaleX(100%);
  }
}